In [2]:
import pandas as pd
import numpy as np

In [5]:
df = pd.DataFrame(np.random.randn(100, 4))

In [6]:
sdf = df.astype(pd.SparseDtype("float", np.nan))

In [7]:
sdf

           0         1         2         3
0   1.084779 -1.448696 -0.111953 -1.177173
1   0.936740 -1.436302 -1.929753  0.078962
2  -1.395443  1.404561 -0.024623  0.341066
3   1.009172 -0.549194 -1.161813  0.638864
4   0.070907 -0.067039 -1.587011 -0.691147
..       ...       ...       ...       ...
95 -1.005186  0.170267  1.052046 -1.080627
96 -1.006910 -0.264485 -0.009370  1.002116
97  0.945350  0.843395 -1.630501  0.632882
98  0.488782 -0.317607 -0.378728 -0.116858
99  1.177325 -0.045304  0.085313 -1.940357

[100 rows x 4 columns]

In [9]:
train = pd.read_csv('data/train_data.csv')
test = pd.read_csv('data/test_data.csv')
submission = pd.read_csv('data/sample_submission.csv')

In [12]:
graph = train.set_index(["userID", "assessmentItemID"]).answerCode.unstack(fill_value=0)

ValueError: Index contains duplicate entries, cannot reshape

In [15]:
train = train.drop_duplicates(["userID", "assessmentItemID"])

In [16]:
graph = train.set_index(["userID", "assessmentItemID"]).answerCode.unstack(fill_value=0)

In [17]:
graph

assessmentItemID,A010001001,A010001002,A010001003,A010001004,A010001005,A010002001,A010002002,A010002003,A010002004,A010002005,...,A090073003,A090073004,A090073005,A090073006,A090074001,A090074002,A090074003,A090074004,A090074005,A090074006
userID,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,0,1,1,1,1,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7436,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7437,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7438,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7440,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7441,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0