In [2]:
import pandas as pd

In [3]:
train = pd.read_csv('data/train_data.csv')
test = pd.read_csv('data/test_data.csv')
submission = pd.read_csv('data/sample_submission.csv')

In [9]:
train["continuous_user"] = train.groupby("userID")["answerCode"]\
    .apply(lambda x: x * (x.groupby((x != x.shift()).cumsum()).cumcount() + 1))

train["continuous_test"] = train.groupby(["userID", "testId"])["answerCode"]\
    .apply(lambda x: x * (x.groupby((x != x.shift()).cumsum()).cumcount() + 1))

In [10]:
train

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag,continuous,continuous_user,continuous_test
0,0,A060001001,A060000001,1,2020-03-24 00:17:11,7224,1,1,1
1,0,A060001002,A060000001,1,2020-03-24 00:17:14,7225,2,2,2
2,0,A060001003,A060000001,1,2020-03-24 00:17:22,7225,3,3,3
3,0,A060001004,A060000001,1,2020-03-24 00:17:29,7225,4,4,4
4,0,A060001005,A060000001,1,2020-03-24 00:17:36,7225,5,5,5
...,...,...,...,...,...,...,...,...,...
2266581,7441,A030071005,A030000071,0,2020-06-05 06:50:21,438,0,0,0
2266582,7441,A040165001,A040000165,1,2020-08-21 01:06:39,8836,1,1,1
2266583,7441,A040165002,A040000165,1,2020-08-21 01:06:50,8836,2,2,2
2266584,7441,A040165003,A040000165,1,2020-08-21 01:07:36,8836,3,3,3
2266585,7441,A040165004,A040000165,1,2020-08-21 01:08:49,8836,4,4,4